@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
  font-family: "Quicksand", serif;
}
header {
  width: 100%;
  margin: 20px 0px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .logo {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
}
.navbar .list-tems {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
}
.navbar .list-tems a {
  text-decoration: none;
  color: black;
}
.list-tems li .one {
  color: #fea301;
}
.list-tems li .two {
  color: #01acfd;
}
.list-tems li .three {
  color: #05d4df;
}
.list-tems li .four {
  color: #5d58ef;
}
.navbar button {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  background-color: #fea301;
  color: #f7f7f7;
  font-weight: 700;
}
.button img {
  height: 40px;
  text-align: center;
  display: none;
}
/* banner */
.banner {
  margin: 15px 120px;
}
.banner .banner-container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.banner-title {
  width: 290px;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
}
.banner-title .span1 {
  color: #fea301;
}
.banner-title .span2 {
  color: #01acfd;
}
.banner-description {
  font-size: 18px;
  font-weight: 500;
}
.banner-item div button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #111111;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
}
.Curriculum {
  width: 100%;
  background-image: url("assets/bg.png");
  background-size: contain;
}
.Curriculum h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.Curriculum .container {
  display: flex;
  gap: 20px;
  width: 77%;
  margin: 40px auto;
}
.container .container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fea301;
  padding: 2.5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
}
.container-item h3 {
  font-size: 23px;
  margin: 5px;
}
.container-item p {
  font-size: 15px;
  text-align: center;
  margin: 5px;
}
.container .one {
  background-image: linear-gradient(
    356deg,
    #ffffff 0%,
    #ffffff 50%,
    #05d4df27 100%
  );
}
.container .two {
  background-image: linear-gradient(
    356deg,
    #ffffff 0%,
    #ffffff 50%,
    #c6794d33 100%
  );
}
.container .three {
  background-image: linear-gradient(
    356deg,
    #ffffff 0%,
    #ffffff 50%,
    #43405a21 100%
  );
}
.container-item .button {
  font-size: 15px;
  margin: 20px;
  font-weight: 700;
}
.container-item .button-1 {
  color: #01acfd;
}
.container-item .button-2 {
  color: #f0aa00;
}
.container-item .image {
    width: 100px;
}
.container-item .image img{
    width: 100%;
}
.container-item .button-3 {
  color: #8700ff;
}
@media screen and (max-width: 576px) {
  .navbar {
    padding-bottom: 10px;
    border-bottom: 1px solid #4e4e4e;
  }
  .logo h2 {
    display: none;
  }
  .navbar .list-tems {
    display: none;
  }
  .navbar button {
    display: none;
  }
  .button img {
    display: block;
  }
  /* banner */
  .banner {
    margin: 15px 20px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image img {
    width: 350px;
  }
  .banner-title {
    width: 350px;
    text-align: center;
  }
  .banner-description {
    text-align: center;
  }
  /* Curriculum */
  .Curriculum .container {
    flex-direction: column;
    width: 90%;
  }
  .Curriculum h2{
    
    font-size: 30px;
  }
}
